body {
    margin: 0;
    font-family: Verdana !important;
}

header {
    padding: 20px;
    display: flex !important;
    flex-flow: row wrap;
    justify-content: space-between;
}

#main {
    display: flex;
    flex-flow: row wrap;
    justify-content: stretch;
}

@media only screen and (max-width: 750px) {
    /* Display only the current book details */
    #main {
        display: flex;
        flex-flow: column-reverse;
        justify-content: stretch;
    }
    
    #bookList {
        height: 0px;
        overflow: none;
    }
    
    .book {
        display: none;
    }
}

#bookList {
    display: flex;
    flex-flow: column;
    flex-grow: 2;
    background: green;
    min-width: 250px;
}

#bookDetails {
    display: flex;
    flex-flow: column;
    flex-grow: 7;
    background: red;
    min-width: 250px;
}

#bookInfo {
    display: flex;
    flex-grow: 1;
    background: yellow;
    padding: 16px 12px;
    justify-content: space-around;
}

#titleAuthorBox {
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

#bookNotes {
    display: flex;
    flex-grow: 4;
    background: blue;
    min-height: 400px;
}

#bookNotes > textarea {
    width: 100%;
    margin: 16px;
    box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.15);
}

.book {
    padding: 12px 24px;
    border: 1px solid pink;
    color: white;
    text-align: center;
}
